<div class="review__form">
    <form action="#" name="review">
        <h3>Отзыв</h3>
        <p>
            <input type="text" name="reviewName" placeholder="Укажите ваше имя">
        </p>
        <p>
            <input type="text" name="reviewPlace" placeholder="Укажите место">
        </p>
        <p>
            <textarea name="reviewText" placeholder="Оставить отзыв"></textarea>
        </p>
        <button type="submit">Добавить</button>
    </form>
</div>
