<div id="map"></div>
<div id="template_list" style="display:none">
<div class="review">
        <div class="review__list"  style="display:none">
            <div class="review__item">
                <p>
                    <span class="review__item-name"></span>
                    <span class="review__item-place"></span>
                    <span class="review__item-date"></span>
                </p>
                <p class="review__item-text"></p>
            </div>
        </div>
</div>
</div>
<div id="template" style="display:none">
    <div class="review">
        <div class="review__form">
            <form action="#" name="review">
                <h3>Отзыв</h3>
                <p>
                    <input type="text" name="reviewName" placeholder="Укажите ваше имя" value="Name">
                </p>
                <p>
                    <input type="text" name="reviewPlace" placeholder="Укажите место" value="Place #12345645">
                </p>
                <p>
                    <textarea name="reviewText">It's a nice place!</textarea>
                </p>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
</div>