* {
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.review {
  font-size: 16px;

  &__form {
    textarea, input {
      width: 310px;
      padding: 11px;
      border: 1px solid #CFCFCF;
      border-radius: 3px;

      &::placeholder {
        color: #000;
      }

      &:focus {
        border-color: #1371C8;
      }
    }

    input {
      height: 38px;
    }

    textarea {
      height: 98px;
      resize: none;
    }

    button {
      width: 107px;
      height: 38px;
      background: #FF8663;
      border-radius: 3px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &__item {
    color: #8F8F8F;
    margin-bottom: 20px;

    p:first-child {
      display: flex;
      flex-wrap: wrap;

      span {
        display: inline-block;
        margin-right: 8px;
      }
    }

    &-name {
      color: #000000;
    }

    &-place {
    }

    &-date {
    }
  }

  &__list {
    max-height: 160px;
    overflow: auto;
    border-bottom: solid #E7E7E7 thin;
  }
}
